<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.bidding.mapper.BiddingEvaluatExpertMapper">
    
    <resultMap type="com.zhaocai.business.bidding.domain.BiddingEvaluatExpert" id="BiddingEvaluatExpertResult">
        <result property="id"    column="id"    />
        <result property="noticeId"    column="notice_id"    />
        <result property="schemeId"    column="scheme_id"    />
        <result property="expertId"    column="expert_id"    />
        <result property="expertName"    column="expert_name"    />
        <result property="deadline"    column="deadline"    />
        <result property="evalStatus"    column="eval_status"    />
        <result property="isEval"    column="is_eval"    />
        <result property="expertType"    column="expert_type"    />
        <result property="isJoin"    column="is_join"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectBiddingEvaluatExpertVo">
        select id, notice_id, scheme_id, expert_id, expert_name, deadline, eval_status, is_eval, expert_type, is_join, create_by, create_id, create_time, update_by, update_id, update_time, del_flag from tb_bidding_evaluat_expert
    </sql>

    <select id="findEvalSchemaPage" resultType="com.zhaocai.business.bidding.vo.res.EvalTaskPageListVO">
        select bee.scheme_id, bee.notice_id, bee.expert_type,
        ps.procurement_scheme_code, ps.procurement_scheme_name, ps.ceiling_price, ps.procurement_type,
        tn.is_eval
        from tb_bidding_evaluat_expert bee
        inner join tb_procurement_scheme ps on ps.id = bee.scheme_id
        inner join tb_tender_notice tn on bee.notice_id = tn.id
        <where>
            bee.del_flag = 0 and ps.del_flag = 0 and tn.del_flag = 0
            and bee.is_join = 1
<!--            and bee.is_eval = 0-->
<!--            <if test="queryVO.evalStatus != null">-->
<!--                and bee.eval_status = #{queryVO.evalStatus}-->
<!--            </if>-->
<!--            <if test="queryVO.isEval != null">-->
<!--                and tn.is_eval = #{queryVO.isEval}-->
<!--            </if>-->
            <if test="queryVO.noticeStatus != null">
                and tn.notice_status = #{queryVO.noticeStatus}
            </if>
            <if test="queryVO.doneNoticeStatus != null">
                and tn.notice_status <![CDATA[>]]> #{queryVO.doneNoticeStatus}
            </if>
            <if test="queryVO.expertId != null">
                and bee.expert_id = #{queryVO.expertId}
            </if>
        </where>
        order by bee.create_time desc
    </select>

</mapper>