<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.bidding.mapper.TenderNoticeMapper">
    
    <resultMap type="com.zhaocai.business.bidding.domain.TenderNotice" id="TenderNoticeResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="schemeId"    column="scheme_id"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="templateId"    column="template_id"    />
        <result property="attachId"    column="attach_id"    />
        <result property="vendorRange"    column="vendor_range"    />
        <result property="noticeStatus"    column="notice_status"    />
        <result property="isOpenPeople"    column="is_open_people"    />
        <result property="isEval"    column="is_eval"    />
        <result property="wfProcessId"    column="wf_process_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectTenderNoticeVo">
        select id, project_id, scheme_id, apply_time, contact, phone, email, template_id, attach_id, vendor_range,
               create_by, create_id, create_time, update_by, update_id, update_time, del_flag, notice_status, is_open_people, is_eval, wf_process_id
        from tb_tender_notice
    </sql>

    <select id="page" resultType="com.zhaocai.business.bidding.vo.res.TenderNoticeListVO">
        SELECT * FROM tb_tender_notice
    </select>

    <select id="findVendorNoticePage" resultType="com.zhaocai.business.bidding.vo.res.VendorNoticeListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name, ps.price_type, ps.subject_matter_type,
            bi.id biddingInfoId, bi.twice_quot, su.thrid_org_name unit,
            tn.scheme_id, tn.id noticeId , tn.create_time, tn.contact, tn.apply_time, tn.notice_status, tn.vendor_range, tn.phone,
            CASE WHEN bi.id is null or bi.id = '' THEN '未投标'
                ELSE '已投标' END bidStatus

        FROM tb_tender_notice tn
        left join tb_tender_notice_range tnr on tnr.notice_id = tn.id and tnr.del_flag = 0 and tnr.type = 1
        left join tb_procurement_scheme ps on ps.id = tn.scheme_id and ps.del_flag = 0
        left join tb_bidding_info bi on bi.notice_id = tn.id
        and bi.del_flag = 0 and bi.parent_id is null and bi.vendor_id = #{queryDTO.vendorId}
        left join sys_user su on su.user_id = ps.procurement_officer
        <where>
            tn.del_flag = 0 and tn.notice_status != 0
            and (
            CASE
                WHEN ps.procurement_type != 1 and tn.vendor_range = 1 THEN tnr.vendor_id = #{queryDTO.vendorId}
                ELSE 1
            END) = 1
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
            <if test="queryDTO.procurementSchemeCode != null and queryDTO.procurementSchemeCode != ''">
                and ps.procurement_scheme_code = #{queryDTO.procurementSchemeCode}
            </if>
            <if test="queryDTO.schemeType == 1">
                and ps.procurement_type = 1
            </if>
            <if test="queryDTO.schemeType == 2">
                and ps.procurement_type != 1
            </if>
        </where>
        order by tn.create_time desc
    </select>

    <select id="findVendorPortalNoticePage" resultType="com.zhaocai.business.bidding.vo.res.VendorPortalNoticeListVO">
        SELECT tn.id noticeId, ps.id schemeId, ps.procurement_scheme_code, ps.procurement_scheme_name, ps.procurement_plan_type,
        ps.price_type, ps.subject_matter_type,
        tn.create_time, tab1.applyTime, tn.notice_status, su.thrid_org_name unit
        FROM tb_tender_notice tn
        LEFT JOIN tb_procurement_scheme ps ON ps.id = tn.scheme_id AND ps.del_flag = 0
        LEFT JOIN (SELECT distinct tn1.id,
                    CASE WHEN tncr.id is null OR tncr.id = '' THEN tn1.apply_time ELSE str_to_date(tncr.update_after, '%Y-%m-%d %H:%i') END applyTime
                    FROM tb_tender_notice tn1
                    LEFT JOIN (select MAX(id) as id, notice_id, del_flag, update_after, type from tb_tender_notice_change_record GROUP BY notice_id)
                    tncr ON tncr.notice_id = tn1.id and tncr.del_flag = 0 AND tncr.type = 1
                    ) tab1 ON tab1.id = tn.id
        left join tb_tender_notice_range tnr on tnr.notice_id = tn.id and tnr.del_flag = 0 and tnr.type = 1
        left join sys_user su on su.user_id = ps.procurement_officer
<!--        LEFT JOIN tb_procurement_scheme_plan_relate pspr ON pspr.procurement_scheme_id = ps.id-->
<!--        LEFT JOIN tb_contract_planning cp ON cp.plan_id = pspr.procurement_plan_id-->
        where
            tn.del_flag = 0
            and tn.notice_status = #{queryDTO.noticeStatus}
            and tab1.applyTime  <![CDATA[>]]> #{queryDTO.nowDate}
            <if test="queryDTO.procurementPlanType != null">
                and ps.procurement_plan_type = #{queryDTO.procurementPlanType}
            </if>
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
            <if test="queryDTO.schemeType != null">
                and ps.procurement_type = #{queryDTO.schemeType}
            </if>
            <if test="queryDTO.vendorId != null">
                and (
                CASE
                    WHEN ps.procurement_type != 1 and tn.vendor_range = 1 THEN tnr.vendor_id = #{queryDTO.vendorId}
                    ELSE 1
                END) = 1
            </if>
        order by tn.create_time desc
    </select>

    <select id="findVendorPortalPublicityPage" resultType="com.zhaocai.business.bidding.vo.res.VendorPortalPublicityListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name,
        tn.create_time, tn.notice_status, tn.id noticeId, tn.scheme_id,
        br.publicity_start_time, br.publicity_end_time, su.thrid_org_name unit
        FROM tb_tender_notice tn
        LEFT JOIN tb_procurement_scheme ps ON ps.id = tn.scheme_id AND ps.del_flag = 0
        inner join tb_bidding_result br ON br.notice_id = tn.id and br.scheme_id = tn.scheme_id
        left join sys_user su on su.user_id = ps.procurement_officer
        where tn.del_flag = 0
            and tn.notice_status <![CDATA[>=]]> #{queryDTO.noticeStatus}
            and br.publicity_start_time is not null and br.publicity_end_time is not null and br.rank = 1
        <if test="queryDTO.procurementPlanType != null">
            and ps.procurement_plan_type = #{queryDTO.procurementPlanType}
        </if>
        <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
            and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
        </if>
        order by tn.create_time desc
    </select>

    <select id="findTwiceBidPage" resultType="com.zhaocai.business.bidding.vo.res.TwiceBidListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name, tn.create_time, tn.notice_status, bi.twice_time,
            CASE WHEN bi2.id is null or bi.id = '' THEN '未二次报价'
            ELSE '已二次报价' END twiceBidStatus
        FROM tb_tender_notice tn
        inner join tb_procurement_scheme ps on ps.id = tn.scheme_id and ps.del_flag = 0
        inner join tb_bidding_info bi on bi.notice_id = tn.id and bi.del_flag = 0
        left join tb_bidding_info bi2 on bi2.parent_id = bi.id and bi2.del_flag = 0
        <where>
            tn.del_flag = 0 and bi.parent_id is null and bi.twice_quot = 1
            and bi.vendor_id = #{queryDTO.vendorId}
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
        </where>
    </select>

    <select id="findNoticeBiddingResultList" resultType="com.zhaocai.business.bidding.vo.res.NoticeBiddingResultListVO">
        select tn.id noticeId, br.id biddingResultId, br.bid_result, br.`rank`, br.sure_bid
        from tb_tender_notice tn
        left join tb_bidding_result br on br.notice_id = tn.id
        <where>
            tn.del_flag = 0
            <if test="noticeId != null">
                and tn.id = #{noticeId}
            </if>
            <if test="noticeStatus != null">
                and tn.notice_status = #{noticeStatus}
            </if>
            <if test="nowDate != null">
                and br.publicity_end_time <![CDATA[<]]> #{nowDate}
            </if>
        </where>
        order by tn.id, br.`rank`
    </select>

    <select id="findWinningNotifiPage" resultType="com.zhaocai.business.bidding.vo.res.WinningNotifiListVO">
        select ps.procurement_scheme_code, ps.procurement_scheme_name, br.notifi_time, br.notifi_content, br.id biddingResultId, br.scheme_id,
        tn.id noticeId
        from tb_tender_notice tn
        inner join tb_bidding_result br on br.notice_id = tn.id
        left join tb_procurement_scheme ps on ps.id = br.scheme_id
        <where>
            tn.del_flag = 0 and br.del_flag = 0
            and br.bid_result = 1 and br.send_notified = 1
            <if test="queryVO.noticeStatus != null">
                and tn.notice_status = #{queryVO.noticeStatus}
            </if>
            <if test="queryVO.vendorId != null">
                and br.vendor_id = #{queryVO.vendorId}
            </if>
            <if test="queryVO.procurementSchemeName != null and queryVO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryVO.procurementSchemeName}, '%')
            </if>
        </where>
        order by br.notifi_time desc
    </select>

    <select id="findTenderNoticeSchemeInfo" resultType="com.zhaocai.business.bidding.vo.res.TenderNoticeSchemeInfoVO">
        select tn.*, ps.procurement_type schemeType,
        ps.procurement_scheme_name as procurementSchemeName,
        ps.project_code as projectCode
        from tb_tender_notice tn
        inner join tb_procurement_scheme ps on ps.id = tn.scheme_id
        where tn.id = #{id} and tn.del_flag = 0 and ps.del_flag = 0
    </select>

</mapper>