<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.bidding.mapper.TenderNoticeMapper">

    <resultMap type="com.zhaocai.business.bidding.domain.TenderNotice" id="TenderNoticeResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="schemeId"    column="scheme_id"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="email"    column="email"    />
        <result property="templateId"    column="template_id"    />
        <result property="attachId"    column="attach_id"    />
        <result property="vendorRange"    column="vendor_range"    />
        <result property="noticeStatus"    column="notice_status"    />
        <result property="isOpenPeople"    column="is_open_people"    />
        <result property="isEval"    column="is_eval"    />
        <result property="wfProcessId"    column="wf_process_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="twiceTime"    column="twice_time"    />
        <result property="twiceQuotVersion"    column="twice_quot_version"    />
        <result property="twiceQuotState"    column="twice_quot_state"    />
        <result property="paymentType"    column="payment_type"    />
    </resultMap>

    <sql id="selectTenderNoticeVo">
        select id, project_id, scheme_id, apply_time, apply_time_notice, contact, phone, email,contact_notice, phone_notice, email_notice, template_id, attach_id,attach_id_notice, vendor_range,
               create_by, create_id, create_time, update_by, update_id, update_time, del_flag, notice_status, is_open_people, is_eval, wf_process_id,twice_time,twice_quot_version,twice_quot_state,payment_type
        from tb_tender_notice
    </sql>

    <select id="page" resultType="com.zhaocai.business.bidding.vo.res.TenderNoticeListVO">
        SELECT * FROM tb_tender_notice
    </select>

    <!-- 供应商 在线报名列表 -->
    <select id="findVendorNoticePageNotice" resultType="com.zhaocai.business.bidding.vo.res.VendorNoticeListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name, ps.price_type, ps.subject_matter_type,
        ta.id tenderApplyId, null as twice_quot, su.thrid_org_name unit,tn.apply_time_notice,tn.attach_id_notice,
        tn.scheme_id, tn.id noticeId , tn.create_time, tn.contact, tn.apply_time, tn.notice_status, tn.vendor_range, tn.phone,
        CASE WHEN ta.id is null or ta.id = '' THEN '未报名'
        ELSE '已报名' END tenderApplyStatus
        FROM tb_tender_notice tn
        left join tb_tender_notice_range tnr on tnr.notice_id = tn.id and tnr.del_flag = 0 and tnr.type = 1
        left join tb_procurement_scheme ps on ps.id = tn.scheme_id and ps.del_flag = 0
        left join tb_tender_apply ta on ta.notice_id = tn.id
        and ta.del_flag = 0 and  ta.vendor_id = #{queryDTO.vendorId}
        left join sys_user su on su.user_id = ps.procurement_officer
        <where>
            /* 在线报名只能显示 公开招标的数据，状态不做控制。 */
            tn.del_flag = 0 and tn.notice_status != 0 and ps.procurement_type = 1
            and (
            CASE
            WHEN ps.procurement_type != 1 and tn.vendor_range = 1 THEN tnr.vendor_id = #{queryDTO.vendorId}
            ELSE 1
            END) = 1
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
            <if test="queryDTO.procurementSchemeCode != null and queryDTO.procurementSchemeCode != ''">
                and ps.procurement_scheme_code = #{queryDTO.procurementSchemeCode}
            </if>
        </where>
        order by tn.create_time desc
    </select>

    <!-- 供应商 在线投标列表 -->
    <select id="findVendorNoticePage" resultType="com.zhaocai.business.bidding.vo.res.VendorNoticeListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name, ps.price_type, ps.subject_matter_type,
        ta.id tenderApplyId, su.thrid_org_name unit,tn.apply_time_notice,tn.attach_id_notice,
        tn.scheme_id, tn.id noticeId , tn.create_time, tn.contact, tn.apply_time, tn.notice_status, tn.vendor_range, tn.phone,
        CASE WHEN ta.id is null or ta.id = '' THEN '未报名'
        ELSE '已报名' END tenderApplyStatus
        FROM tb_tender_notice tn
        left join tb_tender_notice_range tnr on tnr.notice_id = tn.id and tnr.del_flag = 0 and tnr.type = 1
        left join tb_tender_apply ta on ta.notice_id = tn.id and ta.del_flag = 0 and  ta.vendor_id = #{queryDTO.vendorId}
        left join tb_procurement_scheme ps on ps.id = tn.scheme_id and ps.del_flag = 0
        left join sys_user su on su.user_id = ps.procurement_officer
        <where>
            tn.del_flag = 0 and tn.notice_status != 0
            and (
            CASE
            WHEN ps.procurement_type != 1 and tn.vendor_range = 1 THEN tnr.vendor_id = #{queryDTO.vendorId}
            ELSE 1
            END) = 1
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
            <if test="queryDTO.procurementSchemeCode != null and queryDTO.procurementSchemeCode != ''">
                and ps.procurement_scheme_code = #{queryDTO.procurementSchemeCode}
            </if>
            <if test="queryDTO.schemeType == 1">
                /* 公开招标 的 在线投标不显示状态 为招标报名阶段的。只显示给已报名的供应商。 */
                and ps.procurement_type = 1 and tn.notice_status!=11 and tn.notice_status!=12 and tn.notice_status!=13 and ta.approve_result = 1
            </if>
            <if test="queryDTO.schemeType == 2">
                /* 公开招标 的 在线投标不显示状态 为招标报名阶段的。 */
                and ps.procurement_type != 1 and tn.notice_status!=11 and tn.notice_status!=12 and tn.notice_status!=13
            </if>
        </where>
        order by tn.create_time desc
    </select>

    <!-- 供应商 首页数据，已登录和未登录的区别就是 是否携带了queryDTO.schemeType 公开招标 参数之前的招标状态是写死是 1 就是 招标文件 ，现在多加了3个环节，应该都带上 11 12 13 -->
    <select id="findVendorPortalNoticePage" resultType="com.zhaocai.business.bidding.vo.res.VendorPortalNoticeListVO">
        SELECT tn.id noticeId, ps.id schemeId, ps.procurement_scheme_code, ps.procurement_scheme_name, ps.procurement_plan_type,
        ps.price_type, ps.subject_matter_type,
        tn.create_time, tn.notice_status, su.thrid_org_name unit,
        ps.price_type, ps.subject_matter_type,ps.procurement_type,
            CASE WHEN ps.procurement_type = 1 then
                CASE WHEN (tn.notice_status = 11 or tn.notice_status = 12 or tn.notice_status = 13) then
                    CASE WHEN (select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 11 and type = 1 and del_flag = 0  order by id desc limit 1) IS NOT NULL
                    THEN str_to_date((select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 11 and type = 1 and del_flag = 0 order by id desc limit 1), '%Y-%m-%d %H:%i') ELSE tn.apply_time_notice END
                ELSE
                    CASE WHEN (select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 1 and type = 1 and del_flag = 0  order by id desc limit 1) IS NOT NULL
                    THEN str_to_date((select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 1 and type = 1 and del_flag = 0 order by id desc limit 1), '%Y-%m-%d %H:%i') ELSE tn.apply_time END
                END
            ELSE
                CASE WHEN (select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 1 and type = 1 and del_flag = 0  order by id desc limit 1) IS NOT NULL
                THEN str_to_date((select update_after from tb_tender_notice_change_record where tn.id = notice_id and notice_status = 1 and type = 1 and del_flag = 0 order by id desc limit 1), '%Y-%m-%d %H:%i') ELSE tn.apply_time END
            END AS applyTime
        FROM tb_tender_notice tn
        LEFT JOIN tb_procurement_scheme ps ON ps.id = tn.scheme_id AND ps.del_flag = 0
        left join tb_tender_notice_range tnr on tnr.notice_id = tn.id and tnr.del_flag = 0 and tnr.type = 1
        left join sys_user su on su.user_id = ps.procurement_officer
        where
            tn.del_flag = 0
            and (tn.notice_status = 11 or tn.notice_status = 12 or tn.notice_status = 13 or tn.notice_status = 1)
            <if test="queryDTO.procurementPlanType != null">
                and ps.procurement_plan_type = #{queryDTO.procurementPlanType}
            </if>
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
            <if test="queryDTO.schemeType != null">
                and ps.procurement_type = #{queryDTO.schemeType}
            </if>
            <if test="queryDTO.vendorId != null">
                and (
                CASE
                    WHEN ps.procurement_type != 1 and tn.vendor_range = 1 THEN tnr.vendor_id = #{queryDTO.vendorId}
                    ELSE 1
                END) = 1
            </if>
        order by tn.create_time desc
    </select>


    <select id="findVendorPortalPublicityPage" resultType="com.zhaocai.business.bidding.vo.res.VendorPortalPublicityListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name,
        tn.create_time, tn.notice_status, tn.id noticeId, tn.scheme_id,
        br.publicity_start_time, br.publicity_end_time, su.thrid_org_name unit
        FROM tb_tender_notice tn
        LEFT JOIN tb_procurement_scheme ps ON ps.id = tn.scheme_id AND ps.del_flag = 0
        inner join tb_bidding_result br ON br.notice_id = tn.id and br.scheme_id = tn.scheme_id
        left join sys_user su on su.user_id = ps.procurement_officer
        where tn.del_flag = 0
            and tn.notice_status <![CDATA[>=]]> #{queryDTO.noticeStatus}
            and br.publicity_start_time is not null and br.publicity_end_time is not null and br.rank = 1
        <if test="queryDTO.procurementPlanType != null">
            and ps.procurement_plan_type = #{queryDTO.procurementPlanType}
        </if>
        <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
            and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
        </if>
        order by tn.create_time desc
    </select>

    <select id="findTwiceBidPage" resultType="com.zhaocai.business.bidding.vo.res.TwiceBidListVO">
        SELECT ps.procurement_scheme_code, ps.procurement_scheme_name, tn.create_time, tn.notice_status, bi.twice_time,
            CASE WHEN bi2.id is null or bi.id = '' THEN '未二次报价'
            ELSE '已二次报价' END twiceBidStatus
        FROM tb_tender_notice tn
        inner join tb_procurement_scheme ps on ps.id = tn.scheme_id and ps.del_flag = 0
        inner join tb_bidding_info bi on bi.notice_id = tn.id and bi.del_flag = 0
        left join tb_bidding_info bi2 on bi2.parent_id = bi.id and bi2.del_flag = 0
        <where>
            tn.del_flag = 0 and bi.parent_id is null and bi.twice_quot = 1
            and bi.vendor_id = #{queryDTO.vendorId}
            <if test="queryDTO.procurementSchemeName != null and queryDTO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryDTO.procurementSchemeName}, '%')
            </if>
        </where>
    </select>

    <select id="findNoticeBiddingResultList" resultType="com.zhaocai.business.bidding.vo.res.NoticeBiddingResultListVO">
        select tn.id noticeId, br.id biddingResultId, br.bid_result, br.`rank`, br.sure_bid
        from tb_tender_notice tn
        left join tb_bidding_result br on br.notice_id = tn.id
        <where>
            tn.del_flag = 0
            <if test="noticeId != null">
                and tn.id = #{noticeId}
            </if>
            <if test="noticeStatus != null">
                and tn.notice_status = #{noticeStatus}
            </if>
            <if test="nowDate != null">
                and br.publicity_end_time <![CDATA[<]]> #{nowDate}
            </if>
        </where>
        order by tn.id, br.`rank`
    </select>


    <select id="getListByContractPlanningId" resultType="com.zhaocai.business.bidding.vo.res.ContractPlanningNoticeVO">
        select tcps.id as splitContractId,tpp.id as planId,tcps.split_contract_name,tcp.contract_planning_name,tcp.contract_planning_code ,tcp.contract_planning_id
        /* 合约规划拆分对象 */
        from tb_contract_planning_split tcps
        /* 采购计划对象 */
        left join tb_procurement_plan tpp on tcps.procurement_plan_id = tpp.id and tpp.del_flag = 0
        /* 合约规划对象 */
        left join tb_contract_planning tcp on tcp.plan_id = tpp.id and tcp.del_flag = 0
        where tcps.del_flag = 0 and tcp.contract_planning_code is not null and tcp.contract_planning_id is not null
        <if test="queryVO.contractPlanningCode != null">
            and tcp.contract_planning_code = #{queryVO.contractPlanningCode}
        </if>
        <if test="queryVO.contractPlanningId != null">
            and tcp.contract_planning_id = #{queryVO.contractPlanningId}
        </if>
        <if test="queryVO.contractIdList != null">
            and tcp.contract_planning_id in
            <foreach collection="queryVO.contractIdList" item="contractId" open="(" separator="," close=")">
                #{contractId,jdbcType=VARCHAR}
            </foreach>
        </if>
<!--        -->
<!--        select tps.id as schemeId,ttn.id as noticeId,tpp.id as planId,tcps.split_contract_name,tcp.contract_planning_name,tps.procurement_scheme_code ,tcp.contract_planning_code ,tcp.contract_planning_id-->
<!--        from tb_tender_notice ttn-->
<!--        /* 采购方案对象 */-->
<!--        left join tb_procurement_scheme tps on ttn.scheme_id = tps.id and tps.del_flag = 0-->
<!--        /* 采购方案-采购计划对应关系对象 */-->
<!--        left join tb_procurement_scheme_plan_relate tspr on tspr.procurement_scheme_id = ttn.scheme_id  and tspr.del_flag = 0-->
<!--        /* 合约规划拆分对象 */-->
<!--        left join tb_contract_planning_split tcps on tspr.contract_split_id = tcps.id and tcps.del_flag = 0-->
<!--        /* 采购计划对象 */-->
<!--        left join tb_procurement_plan tpp on tcps.procurement_plan_id = tpp.id and tpp.del_flag = 0-->
<!--        /* 合约规划对象 */-->
<!--        left join tb_contract_planning tcp on tcp.plan_id = tpp.id and tcp.del_flag = 0-->
<!--        where ttn.del_flag = 0 and  ttn.notice_status != 0 and tcp.contract_planning_code is not null and tcp.contract_planning_id is not null-->
<!--            <if test="queryVO.contractPlanningCode != null">-->
<!--                and tcp.contract_planning_code = #{queryVO.contractPlanningCode}-->
<!--            </if>-->
<!--            <if test="queryVO.contractPlanningId != null">-->
<!--                and tcp.contract_planning_id = #{queryVO.contractPlanningId}-->
<!--            </if>-->
<!--            <if test="queryVO.contractIdList != null">-->
<!--                and tcp.contract_planning_id in-->
<!--                <foreach collection="queryVO.contractIdList" item="contractId" open="(" separator="," close=")">-->
<!--                    #{contractId,jdbcType=VARCHAR}-->
<!--                </foreach>-->
<!--            </if>-->

    </select>

    <select id="findWinningNotifiPage" resultType="com.zhaocai.business.bidding.vo.res.WinningNotifiListVO">
        select ps.procurement_scheme_code, ps.procurement_scheme_name, br.notifi_time, br.notifi_content, br.id biddingResultId, br.scheme_id,
        tn.id noticeId
        from tb_tender_notice tn
        inner join tb_bidding_result br on br.notice_id = tn.id
        left join tb_procurement_scheme ps on ps.id = br.scheme_id
        <where>
            tn.del_flag = 0 and br.del_flag = 0
            and br.bid_result = 1 and br.send_notified = 1
            <if test="queryVO.noticeStatus != null">
                and tn.notice_status = #{queryVO.noticeStatus}
            </if>
            <if test="queryVO.vendorId != null">
                and br.vendor_id = #{queryVO.vendorId}
            </if>
            <if test="queryVO.procurementSchemeName != null and queryVO.procurementSchemeName != ''">
                and ps.procurement_scheme_name like CONCAT('%', #{queryVO.procurementSchemeName}, '%')
            </if>
        </where>
        order by br.notifi_time desc
    </select>

    <select id="findTenderNoticeSchemeInfo" resultType="com.zhaocai.business.bidding.vo.res.TenderNoticeSchemeInfoVO">
        select tn.*, ps.procurement_type schemeType,
        ps.procurement_scheme_name as procurementSchemeName,
        ps.project_code as projectCode
        from tb_tender_notice tn
        inner join tb_procurement_scheme ps on ps.id = tn.scheme_id
        where tn.id = #{id} and tn.del_flag = 0 and ps.del_flag = 0
    </select>

    <select id="listTenderNoticePage" resultType="com.zhaocai.business.bidding.vo.req.TenderNoticeVO">
        select tn.id,mp.min_project_id as project_id,ps.id as scheme_id, ps.procurement_type as scheme_type,tn.contact,
               tn.phone,tn.email,tn.attach_id_notice,tn.apply_time_notice
        from tb_tender_notice tn
        inner join tb_procurement_scheme ps on ps.id = tn.scheme_id
        inner join tb_min_project mp on mp.min_account_code = ps.project_code
        <where>
            tn.del_flag = 0 and ps.del_flag = 0 and tn.notice_status != 0 and ps.procurement_type = 1
            <if test="queryVO.id != null and queryVO.id != ''">
                and tn.id = #{queryVO.id}
            </if>
            <if test="queryVO.startTime != null">
                and tn.create_time >= #{queryVO.startTime}
            </if>
            <if test="queryVO.endTime != null">
                and tn.create_time &lt;= #{queryVO.endTime}
            </if>
        </where>
        order by tn.create_time desc
    </select>

</mapper>
