<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.flowable.mapper.ProcurementSchemeMapper">

    <update id="updateProcurementSchemeState">
        update tb_procurement_scheme set state = 3 where procurement_scheme_code = #{procurementSchemeCode}
    </update>

</mapper>
