<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.receipt.mapper.ReceiptMaterialsDeviceLedgerDtlMapper">

    <resultMap type="com.zhaocai.business.receipt.domain.ReceiptMaterialsDeviceLedgerDtl" id="ReceiptMaterialsDeviceLedgerDtlResult">
        <result property="id"    column="id"    />
        <result property="thirdId"    column="third_id"    />
        <result property="amtIncludeTax"    column="amt_include_tax"    />
        <result property="amtNoTax"    column="amt_no_tax"    />
        <result property="amtTaxMoney"    column="amt_tax_money"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="deviceName"    column="device_name"    />
        <result property="endDatetime"    column="end_datetime"    />
        <result property="ledgerId"    column="ledger_id"    />
        <result property="machineType"    column="machine_type"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="specificationModel"    column="specification_model"    />
        <result property="stagnateMachineSettleRatio"    column="stagnate_machine_settle_ratio"    />
        <result property="startDatetime"    column="start_datetime"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="unitIncludeTax"    column="unit_include_tax"    />
        <result property="unitNoTax"    column="unit_no_tax"    />
        <result property="unitTaxMoney"    column="unit_tax_money"    />
        <result property="workHours"    column="work_hours"    />
        <result property="workload"    column="workload"    />
        <result property="parntId"    column="parnt_id"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>


    <resultMap type="com.zhaocai.business.receipt.vo.req.ReceiptMaterialsDeviceLedgerDtlVO" id="ReceiptMaterialsDeviceLedgerDtlResultMap">
        <result property="id"    column="id"    />
        <result property="thirdId"    column="third_id"    />
        <result property="amtIncludeTax"    column="amt_include_tax"    />
        <result property="amtNoTax"    column="amt_no_tax"    />
        <result property="amtTaxMoney"    column="amt_tax_money"    />
        <result property="deviceCode"    column="device_code"    />
        <result property="deviceName"    column="device_name"    />
        <result property="endDatetime"    column="end_datetime"    />
        <result property="ledgerId"    column="ledger_id"    />
        <result property="machineType"    column="machine_type"    />
        <result property="materialCode"    column="material_code"    />
        <result property="materialName"    column="material_name"    />
        <result property="specificationModel"    column="specification_model"    />
        <result property="stagnateMachineSettleRatio"    column="stagnate_machine_settle_ratio"    />
        <result property="startDatetime"    column="start_datetime"    />
        <result property="taxRate"    column="tax_rate"    />
        <result property="unitIncludeTax"    column="unit_include_tax"    />
        <result property="unitNoTax"    column="unit_no_tax"    />
        <result property="unitTaxMoney"    column="unit_tax_money"    />
        <result property="workHours"    column="work_hours"    />
        <result property="workload"    column="workload"    />
        <result property="parntId"    column="parnt_id"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectReceiptMaterialsDeviceLedgerDtlVo">
        select id, third_id, amt_include_tax, amt_no_tax, amt_tax_money, device_code, device_name, end_datetime, ledger_id, machine_type, material_code, material_name, specification_model, stagnate_machine_settle_ratio, start_datetime, tax_rate, unit_include_tax, unit_no_tax, unit_tax_money, work_hours, workload, parnt_id, create_dept, create_by, create_id, create_time, update_by, update_id, update_time, del_flag from tb_receipt_materials_device_ledger_dtl
    </sql>

    <select id="selectList" parameterType="com.zhaocai.business.receipt.vo.req.ReceiptMaterialsDeviceLedgerDtlVO" resultMap="ReceiptMaterialsDeviceLedgerDtlResultMap">
        <include refid="selectReceiptMaterialsDeviceLedgerDtlVo"/>
        <where>
            <if test="thirdId != null  and thirdId != ''"> and third_id = #{thirdId}</if>
            <if test="amtIncludeTax != null "> and amt_include_tax = #{amtIncludeTax}</if>
            <if test="amtNoTax != null "> and amt_no_tax = #{amtNoTax}</if>
            <if test="amtTaxMoney != null "> and amt_tax_money = #{amtTaxMoney}</if>
            <if test="deviceCode != null  and deviceCode != ''"> and device_code = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''"> and device_name like concat('%', #{deviceName}, '%')</if>
            <if test="endDatetime != null "> and end_datetime = #{endDatetime}</if>
            <if test="ledgerId != null  and ledgerId != ''"> and ledger_id = #{ledgerId}</if>
            <if test="machineType != null  and machineType != ''"> and machine_type = #{machineType}</if>
            <if test="materialCode != null  and materialCode != ''"> and material_code = #{materialCode}</if>
            <if test="materialName != null  and materialName != ''"> and material_name like concat('%', #{materialName}, '%')</if>
            <if test="specificationModel != null  and specificationModel != ''"> and specification_model = #{specificationModel}</if>
            <if test="stagnateMachineSettleRatio != null "> and stagnate_machine_settle_ratio = #{stagnateMachineSettleRatio}</if>
            <if test="startDatetime != null "> and start_datetime = #{startDatetime}</if>
            <if test="taxRate != null "> and tax_rate = #{taxRate}</if>
            <if test="unitIncludeTax != null "> and unit_include_tax = #{unitIncludeTax}</if>
            <if test="unitNoTax != null "> and unit_no_tax = #{unitNoTax}</if>
            <if test="unitTaxMoney != null "> and unit_tax_money = #{unitTaxMoney}</if>
            <if test="workHours != null "> and work_hours = #{workHours}</if>
            <if test="workload != null "> and workload = #{workload}</if>
            <if test="parntId != null  and parntId != ''"> and parnt_id = #{parntId}</if>
            <if test="createDept != null  and createDept != ''"> and create_dept = #{createDept}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectReceiptMaterialsDeviceLedgerDtlById" parameterType="Long" resultMap="ReceiptMaterialsDeviceLedgerDtlResult">
        <include refid="selectReceiptMaterialsDeviceLedgerDtlVo"/>
        where id = #{id}
    </select>

    <insert id="insertReceiptMaterialsDeviceLedgerDtl" parameterType="com.zhaocai.business.receipt.domain.ReceiptMaterialsDeviceLedgerDtl">
        insert into tb_receipt_materials_device_ledger_dtl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="thirdId != null">third_id,</if>
            <if test="amtIncludeTax != null">amt_include_tax,</if>
            <if test="amtNoTax != null">amt_no_tax,</if>
            <if test="amtTaxMoney != null">amt_tax_money,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="endDatetime != null">end_datetime,</if>
            <if test="ledgerId != null">ledger_id,</if>
            <if test="machineType != null">machine_type,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="materialName != null">material_name,</if>
            <if test="specificationModel != null">specification_model,</if>
            <if test="stagnateMachineSettleRatio != null">stagnate_machine_settle_ratio,</if>
            <if test="startDatetime != null">start_datetime,</if>
            <if test="taxRate != null">tax_rate,</if>
            <if test="unitIncludeTax != null">unit_include_tax,</if>
            <if test="unitNoTax != null">unit_no_tax,</if>
            <if test="unitTaxMoney != null">unit_tax_money,</if>
            <if test="workHours != null">work_hours,</if>
            <if test="workload != null">workload,</if>
            <if test="parntId != null">parnt_id,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="thirdId != null">#{thirdId},</if>
            <if test="amtIncludeTax != null">#{amtIncludeTax},</if>
            <if test="amtNoTax != null">#{amtNoTax},</if>
            <if test="amtTaxMoney != null">#{amtTaxMoney},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="endDatetime != null">#{endDatetime},</if>
            <if test="ledgerId != null">#{ledgerId},</if>
            <if test="machineType != null">#{machineType},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="specificationModel != null">#{specificationModel},</if>
            <if test="stagnateMachineSettleRatio != null">#{stagnateMachineSettleRatio},</if>
            <if test="startDatetime != null">#{startDatetime},</if>
            <if test="taxRate != null">#{taxRate},</if>
            <if test="unitIncludeTax != null">#{unitIncludeTax},</if>
            <if test="unitNoTax != null">#{unitNoTax},</if>
            <if test="unitTaxMoney != null">#{unitTaxMoney},</if>
            <if test="workHours != null">#{workHours},</if>
            <if test="workload != null">#{workload},</if>
            <if test="parntId != null">#{parntId},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateReceiptMaterialsDeviceLedgerDtl" parameterType="com.zhaocai.business.receipt.domain.ReceiptMaterialsDeviceLedgerDtl">
        update tb_receipt_materials_device_ledger_dtl
        <trim prefix="SET" suffixOverrides=",">
            <if test="thirdId != null">third_id = #{thirdId},</if>
            <if test="amtIncludeTax != null">amt_include_tax = #{amtIncludeTax},</if>
            <if test="amtNoTax != null">amt_no_tax = #{amtNoTax},</if>
            <if test="amtTaxMoney != null">amt_tax_money = #{amtTaxMoney},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="endDatetime != null">end_datetime = #{endDatetime},</if>
            <if test="ledgerId != null">ledger_id = #{ledgerId},</if>
            <if test="machineType != null">machine_type = #{machineType},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="specificationModel != null">specification_model = #{specificationModel},</if>
            <if test="stagnateMachineSettleRatio != null">stagnate_machine_settle_ratio = #{stagnateMachineSettleRatio},</if>
            <if test="startDatetime != null">start_datetime = #{startDatetime},</if>
            <if test="taxRate != null">tax_rate = #{taxRate},</if>
            <if test="unitIncludeTax != null">unit_include_tax = #{unitIncludeTax},</if>
            <if test="unitNoTax != null">unit_no_tax = #{unitNoTax},</if>
            <if test="unitTaxMoney != null">unit_tax_money = #{unitTaxMoney},</if>
            <if test="workHours != null">work_hours = #{workHours},</if>
            <if test="workload != null">workload = #{workload},</if>
            <if test="parntId != null">parnt_id = #{parntId},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReceiptMaterialsDeviceLedgerDtlById" parameterType="Long">
        delete from tb_receipt_materials_device_ledger_dtl where id = #{id}
    </delete>

    <delete id="deleteReceiptMaterialsDeviceLedgerDtlByIds" parameterType="String">
        delete from tb_receipt_materials_device_ledger_dtl where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
