<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.receipt.mapper.ReceiptPurchaseInvoiceMapper">

    <resultMap type="com.zhaocai.business.receipt.domain.ReceiptPurchaseInvoice" id="ReceiptPurchaseInvoiceResult">
        <result property="id"    column="id"    />
        <result property="brandMaterialName"    column="brand_material_name"    />
        <result property="shipmentOrderMoney"    column="shipment_order_money"    />
        <result property="invoiceCode"    column="invoice_code"    />
        <result property="codeSerialNumber"    column="code_serial_number"    />
        <result property="invoiceDate"    column="invoice_date"    />
        <result property="expectedDeliveryDate"    column="expected_delivery_date"    />
        <result property="receiptPurchaseId"    column="receipt_purchase_id"    />
        <result property="orderName"    column="order_name"    />
        <result property="orderCode"    column="order_code"    />
        <result property="orderDate"    column="order_date"    />
        <result property="planEntryTime"    column="plan_entry_time"    />
        <result property="createDept"    column="create_dept"    />
        <result property="purchaseMoney"    column="purchase_money"    />
        <result property="acceptanceUserName"    column="acceptance_user_name"    />
        <result property="acceptancePhone"    column="acceptance_phone"    />
        <result property="conCode"    column="con_code"    />
        <result property="conName"    column="con_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="orCode"    column="or_code"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <resultMap type="com.zhaocai.business.receipt.vo.req.ReceiptPurchaseInvoiceVO" id="ReceiptPurchaseInvoiceResultMap">
        <result property="id"    column="id"    />
        <result property="brandMaterialName"    column="brand_material_name"    />
        <result property="shipmentOrderMoney"    column="shipment_order_money"    />
        <result property="invoiceCode"    column="invoice_code"    />
        <result property="codeSerialNumber"    column="code_serial_number"    />
        <result property="invoiceDate"    column="invoice_date"    />
        <result property="expectedDeliveryDate"    column="expected_delivery_date"    />
        <result property="receiptPurchaseId"    column="receipt_purchase_id"    />
        <result property="orderName"    column="order_name"    />
        <result property="orderCode"    column="order_code"    />
        <result property="orderDate"    column="order_date"    />
        <result property="planEntryTime"    column="plan_entry_time"    />
        <result property="createDept"    column="create_dept"    />
        <result property="purchaseMoney"    column="purchase_money"    />
        <result property="acceptanceUserName"    column="acceptance_user_name"    />
        <result property="acceptancePhone"    column="acceptance_phone"    />
        <result property="conCode"    column="con_code"    />
        <result property="conName"    column="con_name"    />
        <result property="projectName"    column="project_name"    />
        <result property="orgId"    column="org_id"    />
        <result property="orgName"    column="org_name"    />
        <result property="orCode"    column="or_code"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectReceiptPurchaseInvoiceVo">
        select id, brand_material_name,shipment_order_money, invoice_code,code_serial_number, invoice_date, expected_delivery_date, receipt_purchase_id, order_name, order_code, order_date, plan_entry_time, create_dept, purchase_money, acceptance_user_name, acceptance_phone, con_code, con_name, project_name, org_id, org_name,or_code,supplier_id, supplier_name, create_by, create_id, create_time, update_by, update_id, update_time, del_flag from tb_receipt_purchase_invoice
    </sql>

    <select id="selectListPge" parameterType="com.zhaocai.business.receipt.vo.req.ReceiptPurchaseInvoiceVO" resultMap="ReceiptPurchaseInvoiceResultMap">
        <include refid="selectReceiptPurchaseInvoiceVo"/>
        <where>
            <if test="queryVO.invoiceCode != null and queryVO.invoiceCode != ''">
                invoice_code like concat('%', #{queryVO.invoiceCode,jdbcType=VARCHAR}, '%')
            </if>
            <if test="queryVO.supplierId != null  and queryVO.supplierId != ''">
                and supplier_id = #{queryVO.supplierId,jdbcType=VARCHAR}
            </if>
            <if test="queryVO.supplierName != null  and queryVO.supplierName != ''">
                and supplier_name like concat('%', #{queryVO.supplierName,jdbcType=VARCHAR}, '%')
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectList" parameterType="com.zhaocai.business.receipt.vo.req.ReceiptPurchaseInvoiceVO" resultMap="ReceiptPurchaseInvoiceResultMap">
        <include refid="selectReceiptPurchaseInvoiceVo"/>
        <where>
            <if test="brandMaterialName != null  and brandMaterialName != ''"> and brand_material_name like concat('%', #{brandMaterialName}, '%')</if>
            <if test="shipmentOrderMoney != null  and shipmentOrderMoney != ''"> and shipment_order_money = #{shipmentOrderMoney}</if>
            <if test="invoiceCode != null  and invoiceCode != ''"> and invoice_code = #{invoiceCode}</if>
            <if test="codeSerialNumber != null  and codeSerialNumber != ''"> and code_serial_number = #{codeSerialNumber}</if>
            <if test="invoiceDate != null "> and invoice_date = #{invoiceDate}</if>
            <if test="expectedDeliveryDate != null "> and expected_delivery_date = #{expectedDeliveryDate}</if>
            <if test="receiptPurchaseId != null "> and receipt_purchase_id = #{receiptPurchaseId}</if>
            <if test="orderName != null  and orderName != ''"> and order_name like concat('%', #{orderName}, '%')</if>
            <if test="orderCode != null  and orderCode != ''"> and order_code = #{orderCode}</if>
            <if test="orderDate != null "> and order_date = #{orderDate}</if>
            <if test="planEntryTime != null "> and plan_entry_time = #{planEntryTime}</if>
            <if test="createDept != null  and createDept != ''"> and create_dept = #{createDept}</if>
            <if test="purchaseMoney != null "> and purchase_money = #{purchaseMoney}</if>
            <if test="acceptanceUserName != null  and acceptanceUserName != ''"> and acceptance_user_name like concat('%', #{acceptanceUserName}, '%')</if>
            <if test="acceptancePhone != null  and acceptancePhone != ''"> and acceptance_phone = #{acceptancePhone}</if>
            <if test="conCode != null  and conCode != ''"> and con_code = #{conCode}</if>
            <if test="conName != null  and conName != ''"> and con_name like concat('%', #{conName}, '%')</if>
            <if test="projectName != null  and projectName != ''"> and project_name like concat('%', #{projectName}, '%')</if>
            <if test="orgId != null  and orgId != ''"> and org_id = #{orgId}</if>
            <if test="orgName != null  and orgName != ''"> and org_name like concat('%', #{orgName}, '%')</if>
            <if test="supplierId != null  and supplierId != ''"> and supplier_id = #{supplierId}</if>
            <if test="supplierName != null  and supplierName != ''"> and supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
        ORDER BY code_serial_number DESC
    </select>

    <select id="selectReceiptPurchaseInvoiceById" parameterType="Long" resultMap="ReceiptPurchaseInvoiceResult">
        <include refid="selectReceiptPurchaseInvoiceVo"/>
        where id = #{id}
    </select>

    <insert id="insertReceiptPurchaseInvoice" parameterType="com.zhaocai.business.receipt.domain.ReceiptPurchaseInvoice">
        insert into tb_receipt_purchase_invoice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="brandMaterialName != null">brand_material_name,</if>
            <if test="shipmentOrderMoney != null">shipment_order_money,</if>
            <if test="invoiceCode != null">invoice_code,</if>
            <if test="codeSerialNumber != null">code_serial_number,</if>
            <if test="invoiceDate != null">invoice_date,</if>
            <if test="expectedDeliveryDate != null">expected_delivery_date,</if>
            <if test="receiptPurchaseId != null">receipt_purchase_id,</if>
            <if test="orderName != null">order_name,</if>
            <if test="orderCode != null">order_code,</if>
            <if test="orderDate != null">order_date,</if>
            <if test="planEntryTime != null">plan_entry_time,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="purchaseMoney != null">purchase_money,</if>
            <if test="acceptanceUserName != null">acceptance_user_name,</if>
            <if test="acceptancePhone != null">acceptance_phone,</if>
            <if test="conCode != null">con_code,</if>
            <if test="conName != null">con_name,</if>
            <if test="projectName != null">project_name,</if>
            <if test="orgId != null">org_id,</if>
            <if test="orgName != null">org_name,</if>
            <if test="orCode != null">or_code,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="supplierName != null">supplier_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="brandMaterialName != null">#{brandMaterialName},</if>
            <if test="shipmentOrderMoney != null">#{shipmentOrderMoney},</if>
            <if test="invoiceCode != null">#{invoiceCode},</if>
            <if test="codeSerialNumber != null">#{codeSerialNumber},</if>
            <if test="invoiceDate != null">#{invoiceDate},</if>
            <if test="expectedDeliveryDate != null">#{expectedDeliveryDate},</if>
            <if test="receiptPurchaseId != null">#{receiptPurchaseId},</if>
            <if test="orderName != null">#{orderName},</if>
            <if test="orderCode != null">#{orderCode},</if>
            <if test="orderDate != null">#{orderDate},</if>
            <if test="planEntryTime != null">#{planEntryTime},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="purchaseMoney != null">#{purchaseMoney},</if>
            <if test="acceptanceUserName != null">#{acceptanceUserName},</if>
            <if test="acceptancePhone != null">#{acceptancePhone},</if>
            <if test="conCode != null">#{conCode},</if>
            <if test="conName != null">#{conName},</if>
            <if test="projectName != null">#{projectName},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="orgName != null">#{orgName},</if>
            <if test="orCode != null">#{orCode},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="supplierName != null">#{supplierName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateReceiptPurchaseInvoice" parameterType="com.zhaocai.business.receipt.domain.ReceiptPurchaseInvoice">
        update tb_receipt_purchase_invoice
        <trim prefix="SET" suffixOverrides=",">
            <if test="brandMaterialName != null">brand_material_name = #{brandMaterialName},</if>
            <if test="shipmentOrderMoney != null">shipment_order_money = #{shipmentOrderMoney},</if>
            <if test="invoiceCode != null">invoice_code = #{invoiceCode},</if>
            <if test="codeSerialNumber != null">code_serial_number = #{codeSerialNumber},</if>
            <if test="invoiceDate != null">invoice_date = #{invoiceDate},</if>
            <if test="expectedDeliveryDate != null">expected_delivery_date = #{expectedDeliveryDate},</if>
            <if test="receiptPurchaseId != null">receipt_purchase_id = #{receiptPurchaseId},</if>
            <if test="orderName != null">order_name = #{orderName},</if>
            <if test="orderCode != null">order_code = #{orderCode},</if>
            <if test="orderDate != null">order_date = #{orderDate},</if>
            <if test="planEntryTime != null">plan_entry_time = #{planEntryTime},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="purchaseMoney != null">purchase_money = #{purchaseMoney},</if>
            <if test="acceptanceUserName != null">acceptance_user_name = #{acceptanceUserName},</if>
            <if test="acceptancePhone != null">acceptance_phone = #{acceptancePhone},</if>
            <if test="conCode != null">con_code = #{conCode},</if>
            <if test="conName != null">con_name = #{conName},</if>
            <if test="projectName != null">project_name = #{projectName},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="orgName != null">org_name = #{orgName},</if>
            <if test="orCode != null">#{or_code},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteReceiptPurchaseInvoiceById" parameterType="Long">
        delete from tb_receipt_purchase_invoice where id = #{id}
    </delete>

    <delete id="deleteReceiptPurchaseInvoiceByIds" parameterType="String">
        delete from tb_receipt_purchase_invoice where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
