<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.archives.dossier.mapper.DeviceDetailsMapper">

    <resultMap type="com.zhaocai.archives.dossier.domain.DeviceDetails" id="DeviceDetailsResult">
        <result property="id" column="id"/>
        <result property="typeId" column="type_id"/>
        <result property="deviceCode" column="device_code"/>
        <result property="deviceName" column="device_name"/>
        <result property="typeName" column="type_name"/>
        <result property="deviceSpecifications" column="device_specifications"/>
        <result property="unit" column="unit"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="deptId" column="dept_id"/>
        <result property="isMain" column="is_main"/>
        <result property="state" column="state"/>
        <result property="wfProcessId" column="wf_process_id"/>
        <result property="wfBatch" column="wf_batch"/>
        <result property="mainId" column="main_id"/>
        <result property="hostId" column="host_id"/>
        <result property="organCode" column="organ_code"/>
        <result property="delFlag" column="del_flag"/>
        <result property="feature" column="feature"/>
    </resultMap>

    <sql id="selectDeviceDetailsVo">
        select id,
               type_id,
               device_code,
               device_name,
               type_name,
               device_specifications,
               unit,
               create_by,
               create_id,
               create_time,
               update_by,
               update_id,
               update_time,
               dept_id,
               is_main,
               state,
               wf_process_id,
               wf_batch,
               main_id,
               host_id,
               del_flag,
               feature,
               organ_code
        from tb_device_details
    </sql>

    <select id="selectDeviceDetailsListCount" parameterType="com.zhaocai.archives.dossier.domain.DeviceDetails"
            resultType="long">
        select count(1)
        from tb_device_details
        <where>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''">and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="typeName != null  and typeName != ''">and type_name like concat('%', #{typeName}, '%')</if>
            <if test="deviceSpecifications != null  and deviceSpecifications != ''">and device_specifications =
                #{deviceSpecifications}
            </if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="feature != null  and feature != ''">and feature = #{feature}</if>
        </where>
    </select>

    <select id="selectDeviceDetailsList" parameterType="com.zhaocai.archives.dossier.domain.DeviceDetails"
            resultMap="DeviceDetailsResult">
        <include refid="selectDeviceDetailsVo"/>
        <where>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''">and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="typeName != null  and typeName != ''">and type_name like concat('%', #{typeName}, '%')</if>
            <if test="deviceSpecifications != null  and deviceSpecifications != ''">and device_specifications =
                #{deviceSpecifications}
            </if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
            <if test="feature != null  and feature != ''">and feature = #{feature}</if>
        </where>
        order by device_code ASC
    </select>

    <select id="selectDeviceDetailsById" parameterType="Long" resultMap="DeviceDetailsResult">
        <include refid="selectDeviceDetailsVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeviceDetails" parameterType="com.zhaocai.archives.dossier.domain.DeviceDetails">
        insert into tb_device_details
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="deviceCode != null">device_code,</if>
            <if test="deviceName != null">device_name,</if>
            <if test="typeName != null">type_name,</if>
            <if test="deviceSpecifications != null">device_specifications,</if>
            <if test="unit != null">unit,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="isMain != null">is_main,</if>
            <if test="state != null">state,</if>
            <if test="wfProcessId != null">wf_process_id,</if>
            <if test="wfBatch != null">wf_batch,</if>
            <if test="mainId != null">main_id,</if>
            <if test="hostId != null">host_id,</if>
            <if test="organCode != null">organ_code,</if>
            <if test="feature != null">feature,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="deviceCode != null">#{deviceCode},</if>
            <if test="deviceName != null">#{deviceName},</if>
            <if test="typeName != null">#{typeName},</if>
            <if test="deviceSpecifications != null">#{deviceSpecifications},</if>
            <if test="unit != null">#{unit},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="state != null">#{state},</if>
            <if test="wfProcessId != null">#{wfProcessId},</if>
            <if test="wfBatch != null">#{wfBatch},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="organCode != null">#{organCode},</if>
            <if test="feature != null">#{feature},</if>
        </trim>
    </insert>

    <update id="updateDeviceDetails" parameterType="com.zhaocai.archives.dossier.domain.DeviceDetails">
        update tb_device_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="deviceCode != null">device_code = #{deviceCode},</if>
            <if test="deviceName != null">device_name = #{deviceName},</if>
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="deviceSpecifications != null">device_specifications = #{deviceSpecifications},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="state != null">state = #{state},</if>
            <if test="wfProcessId != null">wf_process_id = #{wfProcessId},</if>
            <if test="wfBatch != null">wf_batch = #{wfBatch},</if>
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="organCode != null">organ_code = #{organCode},</if>
            <if test="feature != null">feature = #{feature},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceDetailsById" parameterType="Long">
        delete
        from tb_device_details
        where id = #{id}
    </delete>

    <delete id="deleteDeviceDetailsByIds" parameterType="String">
        delete from tb_device_details where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getProcessed" resultMap="DeviceDetailsResult" parameterType="string">
        select t1.*
        from device_archives t,
             tb_device_details t1
        where t.son_id = t1.id
          and t.son_id != null
        and t1.organ_code = #{organCode}
        union all
        select t1.*
        from tb_device_details t1
        where main_id != '0' and t1.organ_code = #{organCode}
    </select>

</mapper>
