<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.archives.dossier.mapper.MaterialTypeMapper">

    <resultMap type="com.zhaocai.archives.dossier.domain.MaterialType" id="MaterialTypeResult">
        <result property="id" column="id"/>
        <result property="upId" column="up_id"/>
        <result property="materialName" column="material_name"/>
        <result property="materialType" column="material_type"/>
        <result property="materialCode" column="material_code"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="unit" column="unit"/>
        <result property="isTransaction" column="is_transaction"/>
        <result property="deptId" column="dept_id"/>
        <result property="materialLevel" column="material_level"/>
        <result property="materialLevelCd" column="material_level_cd"/>
        <result property="isMain" column="is_main"/>
        <result property="state" column="state"/>
        <result property="wfProcessId" column="wf_process_id"/>
        <result property="wfBatch" column="wf_batch"/>
        <result property="mainId" column="main_id"/>
        <result property="hostId" column="host_id"/>
        <result property="organCode" column="organ_code"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMaterialTypeVo">
        select id,
               up_id,
               material_name,
               material_type,
               material_code,
               create_by,
               create_id,
               create_time,
               update_by,
               update_id,
               update_time,
               unit,
               is_transaction,
               dept_id,
               material_level,
               material_level_cd,
               is_main,
               state,
               wf_process_id,
               wf_batch,
               main_id,
               host_id,
               del_flag,
               organ_code
        from tb_material_type
    </sql>

    <select id="selectMaterialTypeList" parameterType="com.zhaocai.archives.dossier.domain.MaterialType"
            resultMap="MaterialTypeResult">
        <include refid="selectMaterialTypeVo"/>
        <where>
            <if test="upId != null ">and up_id = #{upId}</if>
            <if test="materialName != null  and materialName != ''">and material_name like concat('%', #{materialName},
                '%')
            </if>
            <if test="materialType != null  and materialType != ''">and material_type = #{materialType}</if>
            <if test="materialCode != null  and materialCode != ''">and material_code = #{materialCode}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="isTransaction != null  and isTransaction != ''">and is_transaction = #{isTransaction}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="materialLevel != null and materialLevel != ''">and material_level = #{materialLevel}</if>
            <if test="materialLevelCd != null and materialLevelCd != ''">and material_level_cd = #{materialLevelCd}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
        order by material_code ASC
    </select>

    <select id="selectMaterialTypeListCount" parameterType="com.zhaocai.archives.dossier.domain.MaterialType"
            resultType="long">
        select count(1)
        from tb_material_type
        <where>
            <if test="upId != null ">and up_id = #{upId}</if>
            <if test="materialName != null  and materialName != ''">and material_name like concat('%', #{materialName},
                '%')
            </if>
            <if test="materialType != null  and materialType != ''">and material_type = #{materialType}</if>
            <if test="materialCode != null  and materialCode != ''">and material_code = #{materialCode}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="unit != null  and unit != ''">and unit = #{unit}</if>
            <if test="isTransaction != null  and isTransaction != ''">and is_transaction = #{isTransaction}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="materialLevel != null and materialLevel != ''">and material_level = #{materialLevel}</if>
            <if test="materialLevelCd != null and materialLevelCd != ''">and material_level_cd = #{materialLevelCd}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectMaterialTypeById" parameterType="Long" resultMap="MaterialTypeResult">
        <include refid="selectMaterialTypeVo"/>
        where id = #{id}
    </select>

    <insert id="insertMaterialType" parameterType="com.zhaocai.archives.dossier.domain.MaterialType">
        insert into tb_material_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="upId != null">up_id,</if>
            <if test="materialName != null">material_name,</if>
            <if test="materialType != null">material_type,</if>
            <if test="materialCode != null">material_code,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="unit != null">unit,</if>
            <if test="isTransaction != null">is_transaction,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="materialLevel != null and materialLevel != ''">material_level,</if>
            <if test="materialLevelCd != null and materialLevelCd != ''">material_level_cd,</if>
            <if test="isMain != null">is_main,</if>
            <if test="state != null">state,</if>
            <if test="wfProcessId != null">wf_process_id,</if>
            <if test="wfBatch != null">wf_batch,</if>
            <if test="mainId != null">main_id,</if>
            <if test="hostId != null">host_id,</if>
            <if test="organCode != null">organ_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="upId != null">#{upId},</if>
            <if test="materialName != null">#{materialName},</if>
            <if test="materialType != null">#{materialType},</if>
            <if test="materialCode != null">#{materialCode},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="unit != null">#{unit},</if>
            <if test="isTransaction != null">#{isTransaction},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="materialLevel != null and materialLevel != ''">#{materialLevel},</if>
            <if test="materialLevelCd != null and materialLevelCd != ''">#{materialLevelCd},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="state != null">#{state},</if>
            <if test="wfProcessId != null">#{wfProcessId},</if>
            <if test="wfBatch != null">#{wfBatch},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="organCode != null">#{organCode},</if>
        </trim>
    </insert>

    <update id="updateMaterialType" parameterType="com.zhaocai.archives.dossier.domain.MaterialType">
        update tb_material_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="upId != null">up_id = #{upId},</if>
            <if test="materialName != null">material_name = #{materialName},</if>
            <if test="materialType != null">material_type = #{materialType},</if>
            <if test="materialCode != null">material_code = #{materialCode},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="isTransaction != null">is_transaction = #{isTransaction},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="materialLevel != null  and materialLevel != ''">material_level = #{materialLevel},</if>
            <if test="materialLevelCd != null  and materialLevelCd != ''">material_level_cd = #{materialLevelCd},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="state != null">state = #{state},</if>
            <if test="wfProcessId != null">wf_process_id = #{wfProcessId},</if>
            <if test="wfBatch != null">wf_batch = #{wfBatch},</if>
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="organCode != null">organ_code = #{organCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaterialTypeById" parameterType="Long">
        delete
        from tb_material_type
        where id = #{id}
    </delete>

    <delete id="deleteMaterialTypeByIds" parameterType="String">
        delete from tb_material_type where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getMaterialJoin" parameterType="long" resultType="int">
        select sum(a.sl)
        from (select count(1) as sl
              from tb_material_item t
              where t.type_id = #{id}
                and t.is_main = 'N'
                and t.del_flag = '0'
                and t.state in ('0', '5')
              union all
              select count(1) as sl
              from tb_material_eigenvalue t1
              where t1.type_id = #{id}
                and t1.is_main = 'N'
                and t1.del_flag = '0'
                and t1.state in ('0', '5')
              union all
              select count(1) as sl
              from tb_material_details t2
              where t2.type_id = #{id}
                and t2.is_main = 'N'
                and t2.del_flag = '0'
                and t2.state in ('0', '5')
              union all
              select count(1) as sl
              from tb_material_type t3
              where t3.id = #{id}
                and t3.is_main = 'N'
                and t3.del_flag = '0'
                and t3.state in ('0', '5')) as a
    </select>

    <select id="getMaxCode" resultType="integer">
        select max(CONVERT(replace(material_code, #{upCode}, ''), SIGNED)) as code
        from tb_material_type
        where up_id = #{upId}
          and del_flag = '0'
          and organ_code = #{organCode}
    </select>


    <select id="getMaterialJoinNoMy" parameterType="long" resultType="int">
        select sum(a.sl)
        from (select count(1) as sl
              from tb_material_details
              where type_id = #{id}
                and del_flag = '0'
              union all
              select count(1) as sl
              from tb_material_item
              where type_id = #{id}
                and del_flag = '0'
              union all
              select count(1) as sl
              from tb_material_type
              where up_id = #{id}
                and del_flag = '0') as a
    </select>


    <select id="getProcessed" resultMap="MaterialTypeResult" parameterType="string">
        select t1.*
        from mtr_class t,
             tb_material_type t1
        where t.son_id = t1.id
          and t.son_id != null
            and t1.organ_code = #{organCode}
        union all
        select t1.*
        from tb_material_type t1
        where main_id != '0' and t1.organ_code = #{organCode}
    </select>


    <select id="getReuseTowCode" resultType="integer">
        WITH RECURSIVE numbers AS (
        SELECT 1 AS n
        UNION ALL
        SELECT n + 1 FROM numbers WHERE n  &lt; #{pdz}
        )
        SELECT n AS missing_num
        FROM numbers
        LEFT JOIN  (select CONVERT(replace(material_code, #{upCode}, ''), SIGNED) as code
        from tb_material_type
        where up_id = #{upId}
          and del_flag = '0'
          and organ_code = #{organCode}) t ON numbers.n = t.code
          WHERE t.code IS NULL
        ORDER BY n limit 1
    </select>


</mapper>
