<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.archives.dossier.mapper.MaterialItemMapper">

    <resultMap type="com.zhaocai.archives.dossier.domain.MaterialItem" id="MaterialItemResult">
        <result property="id" column="id"/>
        <result property="typeId" column="type_id"/>
        <result property="itemName" column="item_name"/>
        <result property="itemCode" column="item_code"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="isMain" column="is_main"/>
        <result property="state" column="state"/>
        <result property="wfProcessId" column="wf_process_id"/>
        <result property="wfBatch" column="wf_batch"/>
        <result property="mainId" column="main_id"/>
        <result property="hostId" column="host_id"/>
        <result property="organCode" column="organ_code"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectMaterialItemVo">
        select id,
               type_id,
               item_name,
               item_code,
               dept_id,
               create_by,
               create_id,
               create_time,
               update_by,
               update_id,
               update_time,
               is_main,
               state,
               wf_process_id,
               wf_batch,
               main_id,
               host_id,
               del_flag,
               organ_code
        from tb_material_item
    </sql>

    <select id="selectMaterialItemListCount" parameterType="com.zhaocai.archives.dossier.domain.MaterialItem"
            resultType="long">
        select count(1)
        from tb_material_item
        <where>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="itemName != null  and itemName != ''">and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemCode != null  and itemCode != ''">and item_code = #{itemCode}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectMaterialItemList" parameterType="com.zhaocai.archives.dossier.domain.MaterialItem"
            resultMap="MaterialItemResult">
        <include refid="selectMaterialItemVo"/>
        <where>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="itemName != null  and itemName != ''">and item_name like concat('%', #{itemName}, '%')</if>
            <if test="itemCode != null  and itemCode != ''">and item_code = #{itemCode}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
        order by item_code ASC
    </select>

    <select id="selectMaterialItemById" parameterType="Long" resultMap="MaterialItemResult">
        <include refid="selectMaterialItemVo"/>
        where id = #{id}
    </select>

    <insert id="insertMaterialItem" parameterType="com.zhaocai.archives.dossier.domain.MaterialItem">
        insert into tb_material_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeId != null">type_id,</if>
            <if test="itemName != null">item_name,</if>
            <if test="itemCode != null">item_code,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isMain != null">is_main,</if>
            <if test="state != null">state,</if>
            <if test="wfProcessId != null">wf_process_id,</if>
            <if test="wfBatch != null">wf_batch,</if>
            <if test="mainId != null">main_id,</if>
            <if test="hostId != null">host_id,</if>
            <if test="organCode != null">organ_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="itemCode != null">#{itemCode},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="state != null">#{state},</if>
            <if test="wfProcessId != null">#{wfProcessId},</if>
            <if test="wfBatch != null">#{wfBatch},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="organCode != null">#{organCode},</if>
        </trim>
    </insert>

    <update id="updateMaterialItem" parameterType="com.zhaocai.archives.dossier.domain.MaterialItem">
        update tb_material_item
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="itemCode != null">item_code = #{itemCode},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="state != null">state = #{state},</if>
            <if test="wfProcessId != null">wf_process_id = #{wfProcessId},</if>
            <if test="wfBatch != null">wf_batch = #{wfBatch},</if>
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="organCode != null">organ_code = #{organCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMaterialItemById" parameterType="Long">
        delete
        from tb_material_item
        where id = #{id}
    </delete>

    <delete id="deleteMaterialItemByIds" parameterType="String">
        delete from tb_material_item where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getProcessed" resultMap="MaterialItemResult" parameterType="string">
        select t1.*
        from mtr_feature t,
             tb_material_item t1
        where t.son_id = t1.id
          and t.son_id != null
        and t1.organ_code = #{organCode}
        union all
        select t1.*
        from tb_material_item t1
        where main_id != '0' and t1.organ_code = #{organCode}
    </select>


</mapper>
