<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.archives.dossier.mapper.SubcontractingEigenvalueMapper">

    <resultMap type="com.zhaocai.archives.dossier.domain.SubcontractingEigenvalue" id="SubcontractingEigenvalueResult">
        <result property="id" column="id"/>
        <result property="eigenvalueName" column="eigenvalue_name"/>
        <result property="eigenvalueCode" column="eigenvalue_code"/>
        <result property="typeId" column="type_id"/>
        <result property="itemId" column="item_id"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="state" column="state"/>
        <result property="wfProcessId" column="wf_process_id"/>
        <result property="wfBatch" column="wf_batch"/>
        <result property="mainId" column="main_id"/>
        <result property="isMain" column="is_main"/>
        <result property="hostId" column="host_id"/>
        <result property="organCode" column="organ_code"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectSubcontractingEigenvalueVo">
        select id,
               eigenvalue_name,
               eigenvalue_code,
               type_id,
               item_id,
               dept_id,
               create_by,
               create_id,
               create_time,
               update_by,
               update_id,
               update_time,
               state,
               wf_process_id,
               wf_batch,
               main_id,
               is_main,
               host_id,
               del_flag,
               organ_code
        from tb_subcontracting_eigenvalue
    </sql>

    <select id="selectSubcontractingEigenvalueListCount"
            parameterType="com.zhaocai.archives.dossier.domain.SubcontractingEigenvalue"
            resultType="long">
        select count(1)
        from tb_subcontracting_eigenvalue
        <where>
            <if test="eigenvalueName != null  and eigenvalueName != ''">and eigenvalue_name like concat('%',
                #{eigenvalueName}, '%')
            </if>
            <if test="eigenvalueCode != null  and eigenvalueCode != ''">and eigenvalue_code = #{eigenvalueCode}</if>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="itemId != null ">and item_id = #{itemId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
    </select>

    <select id="selectSubcontractingEigenvalueList"
            parameterType="com.zhaocai.archives.dossier.domain.SubcontractingEigenvalue"
            resultMap="SubcontractingEigenvalueResult">
        <include refid="selectSubcontractingEigenvalueVo"/>
        <where>
            <if test="eigenvalueName != null  and eigenvalueName != ''">and eigenvalue_name like concat('%',
                #{eigenvalueName}, '%')
            </if>
            <if test="eigenvalueCode != null  and eigenvalueCode != ''">and eigenvalue_code = #{eigenvalueCode}</if>
            <if test="typeId != null ">and type_id = #{typeId}</if>
            <if test="itemId != null ">and item_id = #{itemId}</if>
            <if test="deptId != null ">and dept_id = #{deptId}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="updateId != null ">and update_id = #{updateId}</if>
            <if test="state != null ">and state = #{state}</if>
            <if test="wfProcessId != null  and wfProcessId != ''">and wf_process_id = #{wfProcessId}</if>
            <if test="wfBatch != null  and wfBatch != ''">and wf_batch = #{wfBatch}</if>
            <if test="mainId != null  and mainId != ''">and main_id = #{mainId}</if>
            <if test="isMain != null  and isMain != ''">and is_main = #{isMain}</if>
            <if test="hostId != null  and hostId != ''">and host_id = #{hostId}</if>
            <if test="organCode != null  and organCode != ''">and organ_code = #{organCode}</if>
            <if test="delFlag != null  and delFlag != ''">and del_flag = #{delFlag}</if>
        </where>
        order by eigenvalue_code ASC
    </select>

    <select id="selectSubcontractingEigenvalueById" parameterType="Long" resultMap="SubcontractingEigenvalueResult">
        <include refid="selectSubcontractingEigenvalueVo"/>
        where id = #{id}
    </select>

    <insert id="insertSubcontractingEigenvalue"
            parameterType="com.zhaocai.archives.dossier.domain.SubcontractingEigenvalue">
        insert into tb_subcontracting_eigenvalue
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="eigenvalueName != null">eigenvalue_name,</if>
            <if test="eigenvalueCode != null">eigenvalue_code,</if>
            <if test="typeId != null">type_id,</if>
            <if test="itemId != null">item_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="state != null">state,</if>
            <if test="wfProcessId != null">wf_process_id,</if>
            <if test="wfBatch != null">wf_batch,</if>
            <if test="mainId != null">main_id,</if>
            <if test="isMain != null">is_main,</if>
            <if test="hostId != null">host_id,</if>
            <if test="organCode != null">organ_code,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="eigenvalueName != null">#{eigenvalueName},</if>
            <if test="eigenvalueCode != null">#{eigenvalueCode},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="itemId != null">#{itemId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="state != null">#{state},</if>
            <if test="wfProcessId != null">#{wfProcessId},</if>
            <if test="wfBatch != null">#{wfBatch},</if>
            <if test="mainId != null">#{mainId},</if>
            <if test="isMain != null">#{isMain},</if>
            <if test="hostId != null">#{hostId},</if>
            <if test="organCode != null">#{organCode},</if>
        </trim>
    </insert>

    <update id="updateSubcontractingEigenvalue"
            parameterType="com.zhaocai.archives.dossier.domain.SubcontractingEigenvalue">
        update tb_subcontracting_eigenvalue
        <trim prefix="SET" suffixOverrides=",">
            <if test="eigenvalueName != null">eigenvalue_name = #{eigenvalueName},</if>
            <if test="eigenvalueCode != null">eigenvalue_code = #{eigenvalueCode},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="itemId != null">item_id = #{itemId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="state != null">state = #{state},</if>
            <if test="wfProcessId != null">wf_process_id = #{wfProcessId},</if>
            <if test="wfBatch != null">wf_batch = #{wfBatch},</if>
            <if test="mainId != null">main_id = #{mainId},</if>
            <if test="isMain != null">is_main = #{isMain},</if>
            <if test="hostId != null">host_id = #{hostId},</if>
            <if test="organCode != null">organ_code = #{organCode},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSubcontractingEigenvalueById" parameterType="Long">
        delete
        from tb_subcontracting_eigenvalue
        where id = #{id}
    </delete>

    <delete id="deleteSubcontractingEigenvalueByIds" parameterType="String">
        delete from tb_subcontracting_eigenvalue where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <update id="updateDelByItemId" parameterType="string">
        update tb_material_eigenvalue set del_flag = '2' where item_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <select id="getProcessed" resultMap="SubcontractingEigenvalueResult" parameterType="string">
        select t1.*
        from major_subcontracting_feature_value t,
             tb_subcontracting_eigenvalue t1
        where t.son_id = t1.id
          and t.son_id != null
            and t1.organ_code = #{organCode}
        union all
        select t1.*
        from tb_subcontracting_eigenvalue t1
        where main_id != '0' and t1.organ_code = #{organCode}
    </select>


</mapper>
