<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.pub.mapper.DwMmAssetInfMapper">
    <resultMap type="com.zhaocai.business.pub.domain.DwMmAssetInf" id="DwMmAssetInfResult">
        <result property="id" column="id"/>
        <result property="assetClassCode" column="asset_class_code"/>
        <result property="assetClassName" column="asset_class_name"/>
        <result property="assetClassLevelExt" column="asset_class_level_ext"/>
        <result property="assetClassLevel" column="asset_class_level"/>
        <result property="assetClassLevelCd" column="asset_class_level_cd"/>
        <result property="belgPreAssetClassExt" column="belg_pre_asset_class_ext"/>
        <result property="belgPreAssetClassName" column="belg_pre_asset_class_name"/>
        <result property="belgPreAssetClassId" column="belg_pre_asset_class_id"/>
        <result property="belgPreAssetClassCode" column="belg_pre_asset_class_code"/>
        <result property="isSubjectMatterExt" column="is_subject_matter_ext"/>
        <result property="isSubjectMatter" column="is_subject_matter"/>
        <result property="isSubjectMatterCd" column="is_subject_matter_cd"/>
        <result property="sourceRemark" column="source_remark"/>
        <result property="standardTaxRate" column="standard_tax_rate"/>
        <result property="remark" column="remark"/>
        <result property="ext1" column="ext1"/>
        <result property="reportStatus" column="report_status"/>
        <result property="reportTime" column="report_time"/>
        <result property="internalId" column="internal_id"/>
        <result property="internalParentId" column="internal_parent_id"/>
        <result property="instanceId" column="instance_id"/>
        <result property="approvalStatus" column="approval_status"/>
        <result property="deptId" column="dept_id"/>
        <result property="cryptoField" column="crypto_field"/>
        <result property="measureUnit" column="measure_unit"/>
        <result property="mapAssetClassCode" column="map_asset_class_code"/>
        <result property="mapAssetClassName" column="map_asset_class_name"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <delete id="deleteAll">
        delete from dw_mm_asset_inf
    </delete>

    <select id="countAllData" resultType="java.lang.Integer">
        select count(1) from dw_mm_asset_inf
    </select>
</mapper>
