<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.pub.mapper.ProjectWorkMapper">

    <resultMap type="com.zhaocai.business.pub.domain.ProjectWork" id="ProjectWorkResult">
        <result property="id"    column="id"    />
        <result property="thirdId"    column="third_id"    />
        <result property="parntId"    column="parnt_id"    />
        <result property="workType"    column="work_type"    />
        <result property="workTypeValue"    column="work_type_value"    />
        <result property="createDept"    column="create_dept"    />
        <result property="createBy"    column="create_by"    />
        <result property="createId"    column="create_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateId"    column="update_id"    />
        <result property="updateTime"    column="update_time"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectProjectWorkVo">
        select id, third_id, parnt_id, work_type, work_type_value, create_dept, create_by, create_id, create_time, update_by, update_id, update_time, del_flag from tb_project_work
    </sql>

    <select id="selectProjectWorkList" parameterType="com.zhaocai.business.pub.domain.ProjectWork" resultMap="ProjectWorkResult">
        <include refid="selectProjectWorkVo"/>
        <where>
            <if test="thirdId != null  and thirdId != ''"> and third_id = #{thirdId}</if>
            <if test="parntId != null  and parntId != ''"> and parnt_id = #{parntId}</if>
            <if test="workType != null  and workType != ''"> and work_type = #{workType}</if>
            <if test="workTypeValue != null  and workTypeValue != ''"> and work_type_value = #{workTypeValue}</if>
            <if test="createDept != null  and createDept != ''"> and create_dept = #{createDept}</if>
            <if test="createId != null "> and create_id = #{createId}</if>
            <if test="updateId != null "> and update_id = #{updateId}</if>
        </where>
    </select>

    <select id="selectProjectWorkById" parameterType="Long" resultMap="ProjectWorkResult">
        <include refid="selectProjectWorkVo"/>
        where id = #{id}
    </select>

    <insert id="insertProjectWork" parameterType="com.zhaocai.business.pub.domain.ProjectWork">
        insert into tb_project_work
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="thirdId != null">third_id,</if>
            <if test="parntId != null">parnt_id,</if>
            <if test="workType != null">work_type,</if>
            <if test="workTypeValue != null">work_type_value,</if>
            <if test="createDept != null">create_dept,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createId != null">create_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateId != null">update_id,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="thirdId != null">#{thirdId},</if>
            <if test="parntId != null">#{parntId},</if>
            <if test="workType != null">#{workType},</if>
            <if test="workTypeValue != null">#{workTypeValue},</if>
            <if test="createDept != null">#{createDept},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateId != null">#{updateId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateProjectWork" parameterType="com.zhaocai.business.pub.domain.ProjectWork">
        update tb_project_work
        <trim prefix="SET" suffixOverrides=",">
            <if test="thirdId != null">third_id = #{thirdId},</if>
            <if test="parntId != null">parnt_id = #{parntId},</if>
            <if test="workType != null">work_type = #{workType},</if>
            <if test="workTypeValue != null">work_type_value = #{workTypeValue},</if>
            <if test="createDept != null">create_dept = #{createDept},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateId != null">update_id = #{updateId},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where
        <if test="thirdId != null">third_id = #{thirdId}</if>
        <if test="id != null"> id = #{id}</if>
    </update>

    <delete id="deleteProjectWorkByThirdId" parameterType="String">
        delete from tb_project_work where third_id = #{thirdId}
    </delete>

    <delete id="deleteProjectWorkByIds" parameterType="String">
        delete from tb_project_work where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
