<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.agreement.mapper.AgreementDepositMapper">
    <resultMap type="com.zhaocai.business.agreement.domain.AgreementDeposit" id="AgreementDepositResult">
        <result property="id" column="id"/>
        <result property="agreementId" column="agreement_id"/>
        <result property="depositType" column="deposit_type"/>
        <result property="depositWay" column="deposit_way"/>
        <result property="depositBaseAmount" column="deposit_base_amount"/>
        <result property="paymentAmount" column="payment_amount"/>
        <result property="depositRatio" column="deposit_ratio"/>
        <result property="depositAmount" column="deposit_amount"/>
        <result property="returnCondition" column="return_condition"/>
        <result property="remark" column="remark"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <delete id="deleteByAgreementId">
        delete from tb_agreement_deposit where agreement_id = #{agreementId,jdbcType=BIGINT}
    </delete>
</mapper>
