<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.agreement.mapper.AgreementSignStamperMapper">
    <resultMap type="com.zhaocai.business.agreement.domain.AgreementSignStamper" id="AgreementSignStamperResult">
        <result property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="templateId" column="template_id"/>
        <result property="signType" column="sign_type"/>
        <result property="keyWord" column="key_word"/>
        <result property="signPage" column="sign_page"/>
        <result property="offsetX" column="offset_x"/>
        <result property="offsetY" column="offset_y"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <delete id="deleteByTemplateId">
        delete from tb_agreement_sign_stamper where template_id = #{templateId,jdbcType=BIGINT}
    </delete>
</mapper>
