<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.report.mapper.ContractListOther">
    <resultMap type="com.zhaocai.business.report.domain.ContractListOther" id="ContractListOtherResult">
        <result property="id" column="id"/>
        <result property="uniqueId" column="unique_id"/>
        <result property="conId" column="con_id"/>
        <result property="subjectDtlCode" column="subject_dtl_code"/>
        <result property="subjectDtlName" column="subject_dtl_name"/>
        <result property="specs" column="specs"/>
        <result property="measureUnit" column="measure_unit"/>
        <result property="subjectId" column="subject_id"/>
        <result property="subjectCode" column="subject_code"/>
        <result property="subjectName" column="subject_name"/>
        <result property="surplusQuantity" column="surplus_quantity"/>
        <result property="quantity" column="quantity"/>
        <result property="taxRate" column="tax_rate"/>
        <result property="ntaxPrice" column="ntax_price"/>
        <result property="taxPrice" column="tax_price"/>
        <result property="ntaxAmount" column="ntax_amount"/>
        <result property="taxAmount" column="tax_amount"/>
        <result property="tax" column="tax"/>
        <result property="valid" column="valid"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>


</mapper>
