<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.archives.main.mapper.DeviceArchivesMapper">

    <resultMap type="com.zhaocai.archives.main.domain.DeviceArchives" id="DeviceArchivesResult">
        <result property="id" column="id"/>
        <result property="deviceClassId" column="device_class_id"/>
        <result property="deviceCode" column="device_code"/>
        <result property="deviceName" column="device_name"/>
        <result property="feature" column="feature"/>
        <result property="measureUnit" column="measure_unit"/>
        <result property="subjectMatter" column="subject_matter"/>
        <result property="createId" column="create_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="valid" column="valid"/>
        <result property="sonId" column="son_id"/>
    </resultMap>

    <sql id="selectDeviceArchivesVo">
        select id,
               device_class_id,
               device_code,
               device_name,
               feature,
               measure_unit,
               subject_matter,
               create_id,
               create_by,
               create_time,
               update_by,
               update_time,
               valid,
               son_id
        from device_archives
    </sql>

    <select id="selectDeviceArchivesListCount" parameterType="com.zhaocai.archives.main.domain.DeviceArchives" resultType="long">
        select count(1)
        from device_archives
        <where>
            <if test="deviceClassId != null  and deviceClassId != ''">and device_class_id = #{deviceClassId}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''">and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="feature != null  and feature != ''">and feature = #{feature}</if>
            <if test="measureUnit != null  and measureUnit != ''">and measure_unit = #{measureUnit}</if>
            <if test="subjectMatter != null ">and subject_matter = #{subjectMatter}</if>
            <if test="createId != null  and createId != ''">and create_id = #{createId}</if>
            <if test="valid != null ">and valid = #{valid}</if>
            <if test="sonId != null ">and son_id = #{sonId}</if>
        </where>
    </select>

    <select id="selectDeviceArchivesList" parameterType="com.zhaocai.archives.main.domain.DeviceArchives" resultMap="DeviceArchivesResult">
        <include refid="selectDeviceArchivesVo"/>
        <where>
            <if test="deviceClassId != null  and deviceClassId != ''">and device_class_id = #{deviceClassId}</if>
            <if test="deviceCode != null  and deviceCode != ''">and device_code = #{deviceCode}</if>
            <if test="deviceName != null  and deviceName != ''">and device_name like concat('%', #{deviceName}, '%')
            </if>
            <if test="feature != null  and feature != ''">and feature = #{feature}</if>
            <if test="measureUnit != null  and measureUnit != ''">and measure_unit = #{measureUnit}</if>
            <if test="subjectMatter != null ">and subject_matter = #{subjectMatter}</if>
            <if test="createId != null  and createId != ''">and create_id = #{createId}</if>
            <if test="valid != null ">and valid = #{valid}</if>
            <if test="sonId != null ">and son_id = #{sonId}</if>
        </where>
        order by device_code ASC
    </select>

    <select id="selectDeviceArchivesById" parameterType="String" resultMap="DeviceArchivesResult">
        <include refid="selectDeviceArchivesVo"/>
        where id = #{id}
    </select>

    <insert id="insertDeviceArchives" parameterType="com.zhaocai.archives.main.domain.DeviceArchives">
        insert into device_archives
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="deviceClassId != null and deviceClassId != ''">device_class_id,</if>
            <if test="deviceCode != null and deviceCode != ''">device_code,</if>
            <if test="deviceName != null and deviceName != ''">device_name,</if>
            <if test="feature != null">feature,</if>
            <if test="measureUnit != null">measure_unit,</if>
            <if test="subjectMatter != null">subject_matter,</if>
            <if test="createId != null">create_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="valid != null">valid,</if>
            <if test="sonId != null">son_id,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="deviceClassId != null and deviceClassId != ''">#{deviceClassId},</if>
            <if test="deviceCode != null and deviceCode != ''">#{deviceCode},</if>
            <if test="deviceName != null and deviceName != ''">#{deviceName},</if>
            <if test="feature != null">#{feature},</if>
            <if test="measureUnit != null">#{measureUnit},</if>
            <if test="subjectMatter != null">#{subjectMatter},</if>
            <if test="createId != null">#{createId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="valid != null">#{valid},</if>
            <if test="sonId != null">#{sonId},</if>
        </trim>
    </insert>

    <update id="updateDeviceArchives" parameterType="com.zhaocai.archives.main.domain.DeviceArchives">
        update device_archives
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceClassId != null and deviceClassId != ''">device_class_id = #{deviceClassId},</if>
            <if test="deviceCode != null and deviceCode != ''">device_code = #{deviceCode},</if>
            <if test="deviceName != null and deviceName != ''">device_name = #{deviceName},</if>
            <if test="feature != null">feature = #{feature},</if>
            <if test="measureUnit != null">measure_unit = #{measureUnit},</if>
            <if test="subjectMatter != null">subject_matter = #{subjectMatter},</if>
            <if test="createId != null">create_id = #{createId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="valid != null">valid = #{valid},</if>
            <if test="sonId != null">son_id = #{sonId},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDeviceArchivesById" parameterType="String">
        delete
        from device_archives
        where id = #{id}
    </delete>

    <delete id="deleteDeviceArchivesByIds" parameterType="String">
        delete from device_archives where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
