<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.procurement.mapper.ContractPlanningPushRecordMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhaocai.business.procurement.domain.ContractPlanningPushRecord">
        <result column="id" property="id" />
        <result column="create_by" property="createBy" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="create_id" property="createId" />
        <result column="update_id" property="updateId" />
        <result column="del_flag" property="delFlag" />
        <result column="contract_planning_id" property="contractPlanningId" />
        <result column="contract_planning_code" property="contractPlanningCode" />
        <result column="push_status" property="pushStatus" />
        <result column="push_obj" property="pushObj" />
    </resultMap>



</mapper>
