<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhaocai.business.procurement.mapper.ProcurementSchemeBiddingMapper">
    <resultMap type="com.zhaocai.business.procurement.domain.ProcurementSchemeBidding" id="ProcurementSchemeBiddingResult">
        <result property="id" column="id"/>
        <result property="schemeId" column="scheme_id"/>
        <result property="bidDeadline" column="bid_deadline"/>
        <result property="bidContactPerson" column="bid_contact_person"/>
        <result property="bidContactPhone" column="bid_contact_phone"/>
        <result property="bidContactEmail" column="bid_contact_email"/>
        <result property="evaluationTemplateId" column="evaluation_template_id"/>
        <result property="biddingAttachmentId" column="bidding_attachment_id"/>
        <result property="biddingTemplateId" column="bidding_template_id"/>
        <result property="contractTemplateId" column="contract_template_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createId" column="create_id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateId" column="update_id"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>
</mapper>
