.el-button--primary {
  background-color: #2b4acb !important;
  border-color: #2b4acb !important;
  color: #ffffff !important;
  /* 根据需要修改文本颜色 */
}
.el-button--success{
  background-color: #08c4a2 !important;
    border-color: #08c4a2 !important;
    color: #ffffff !important;
}
.el-table th {
  background-color: #f2f2f8 !important;
  color: #303133 !important;
}
/* 自定义分页按钮的背景颜色 */
.el-pagination .el-pagination__pager li.active,
.el-pagination .el-pagination__pager li:hover {
  background-color: #2b4acb !important;
  background-color: red !important;
  /* 自定义背景颜色 */
  color: #ffffff !important;
  /* 自定义文字颜色 */
}